h1,h2,h3,p {
    color: #2F4F4F;
    font-family: Arial, Helvetica, sans-serif; 
}

.show-area {
    background-color: #ffffff;
    width: 680px;
    margin: 0 auto;
}

.name-txt {
    margin-left: 10px;
}

.show-slider {
    background-color: #ffffff;
    border: 2px solid #FF7F50; /* 枠線の太さ・色 */
    box-shadow: 0 0 5px 2px #C2863C inset;/* 影の色 */
    padding: 10px 0;
}

.slide-image {
    width: 565px;
}

.swiper-container {
    width: 600px;
    height: 300px;
    text-align: center;
}

.show-main {
    background-color: #ffffff;
    margin-top: 10px;
    border: 2px solid #FF7F50; /* 枠線の太さ・色 */
    box-shadow: 0 0 5px 2px #C2863C inset;/* 影の色 */
}

.show-txt {
    margin-left: 10px;
    text-align: left;
}

#map {
    height: 565px;
    width: 660px;
    margin: 0 auto;
    margin-bottom: 24px;
	box-sizing: border-box;
    box-shadow: 0 0 5px #0072bc;
}

.map-txt {
    margin-left: 10px;
}
