.top-area {
    background-color: #ffffff;
    width: 680px;
    margin: 0 auto;
    padding-top: 10px;
}

.image {
    width: 565px;
}

.swiper-container {
    width: 600px;
    height: 300px;
    text-align: center;
}

.top-txt {
    margin-left: 10px;
}

.top-main {
    background-color: #ffffff;
    margin-top: 10px;
    border: 2px solid gray; /* 枠線の太さ・色 */
    box-shadow: 0 0 5px 2px rgb(163, 163, 163) inset;/* 影の色 */
}
.btn-area {
    background-color: #ffffff;
    margin: 0 auto;
    text-align: center;
    margin: 5px 5px;
}
.btn {
    width: 196px;
    height: 110px;
    margin: 5px 5px;
} 

.spot-area {
    background-color: peachpuff;
    width: 680px;
    margin: 0 auto;
}

article {
	display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
	padding: 10px;
	border-radius: 5px;
	box-sizing: border-box;
	box-shadow: 0 0 5px #999;
}

.thumbnail {
    padding-right: 20px; 
    width: 180px;
    height: 135px;
}